/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  background: #eaeaea!important;
}

.icon-size {
  height: 25px;
  width: 25px;
}

.default-box {
  max-width: 400px;
  padding: 25px 0;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
